
<mat-form-field appearance="outline" class="full-width">
      <mat-label>Card Number</mat-label>
      <mat-icon matPrefix>credit_card</mat-icon>
      <input
        matInput
        type="text"
        inputmode="numeric"
        maxlength="19"
        [value]="displayValue()"
        [disabled]="isDisabled()"
        (input)="onInput($event)"
        (blur)="onTouched()"
        placeholder="4242 4242 4242 4242"
        id="card-number"
        autocomplete="cc-number"
      />
      
   
        <mat-error>{{ errorMessage() }}</mat-error>
      
    </mat-form-field>